{% extends 'loginbase.html' %} 
{% block title %} サインアップ | ライオンショップ {% endblock %}
{% block content %}
<div class="h-screen flex items-center justify-center">

  <div class="relative h-[700px] w-[500px]"> 
    <div class="backgr h-full w-full rounded-md"></div>
    <div class="absolute top-4 h-full w-full flex items-center justify-center">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          {{ form.non_field_errors }}
          {% for field in form %}
            <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label white">
                <strong>{{ field.label_tag }}</strong>
            </label>
            <div class="col-sm-8">
                {{ field }}
                {{ field.errors }}
            </div>
      {% endfor %}
      <button type="submit" class="block mx-auto p-4 mt-[100px] rounded-md bg-orange-300">確認</button>
        </form>
      

      <div></div>

    </div>
  </div>


</div>
{% endblock %}